<p-menubar [model]="menuItems" styleClass="custom-menubar">
  <ng-template pTemplate="start">
    <div class="navbar-content">
      <span class="logo">eCommerce</span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="navbar-content">
      <button
        class="cart-badge-button"
        *ngIf="cartItemCount > 0"
        (click)="goToCheckout()"
      >
        <p-badge [value]="cartItemCount" severity="danger"></p-badge>
      </button>

      <p-button
        [label]="isDarkMode ? '☀️ Light Mode' : '🌙 Dark Mode'"
        class="p-button-sm "
        (click)="toggleTheme()"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>
