.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 10px 10px;
  padding: 0.9rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #374151;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;

  &:hover {
    background-color: rgba(37, 99, 235, 0.1);
    color: #2563eb;
  }

  &.active-link {
    background-color: #2563eb;
    color: #ffffff !important;
    font-weight: bold;
  }
}

//cart icon style
.cart-badge-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  font-size: 1.6rem;
}
::ng-deep .custom-badge {
  background-color: #ef4444 !important;
  color: white !important;
  font-size: 1rem !important;
  width: 25px !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  position: absolute;
  top: -11px;
  right: -10px;
  padding: 0 !important;
  font-weight: bold;
  transition: transform 0.3s ease;

}
.cart-badge-button span {
  font-size: 1.8rem;
  color: #2563eb;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
::ng-deep .custom-badge.animate {
  animation: bounce 0.4s ease;
}



//-----------------//
:host-context(.dark-theme) .custom-navbar {
  background-color: #1f2937;
}

:host-context(.dark-theme) .logo {
  color: #60a5fa;
}

:host-context(.dark-theme) .nav-link {
  color: #d1d5db;
}

:host-context(.dark-theme) .nav-link:hover {
  background-color: rgba(96, 165, 250, 0.1);
  color: #60a5fa;
}

:host-context(.dark-theme) .nav-link.active-link {
  background-color: #60a5fa;
  color: #1f2937;
}
