<!-- <div class="card flex justify-center">
    <p-button label="Check" />
</div> -->

<div class="animated-background">
  <!-- sun in the light mode -->
  <div class="sun"></div>
  <!-- Clouds for Light Mode -->
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="cloud"></div>
  <!-- moon in dark mode -->
  <div class="moon"></div>
  <!-- Stars for Dark Mode -->
  <div class="stars"></div>

  <!-- navbar and pages -->
  <div class="content-container">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <p-toast></p-toast>
</div>
