<div class="container">
  <h2>Checkout</h2>

  @if (cartItems.length > 0) {
  <div>
    @for (item of cartItems; track item.product.id) {
    <div class="checkout-item">
      <p>
        <strong>{{ item.product.title }}:</strong>
        <span
          >{{ item.quantity }} x {{ item.product.price | currencyEgp }}</span
        >
      </p>
    </div>
    }

    <h3>
      <strong>Total :</strong>
      <span>{{ total | currencyEgp }}</span>
    </h3>

    <form class="checkout-form">
      <input
        type="text"
        placeholder="Full Name"
        [(ngModel)]="name"
        name="name"
        pInputText
      />
      <input
        type="text"
        placeholder="Address"
        [(ngModel)]="address"
        name="address"
        pInputText
      />
      <input
        type="text"
        placeholder="Phone Number"
        [(ngModel)]="phone"
        name="phone"
        pInputText
      />

      <button
        pButton
        type="button"
        label="Place Order"
        (click)="placeOrder()"
        class="mt-2 w-full"
      ></button>
    </form>
  </div>
  } @else {
  <app-empty-state
    image="../../../assets/imgs/empty-wishlist.svg"
    alt="Empty Wishlist"
    message="No items in your checkout yet."
    link="/products"
    linkText="Browse Products"
  />
  }
</div>
